<section id="aboutme">
    <div class="container" id="container" #container>
        <div class="triangle" [style.top]="posY + 'px'" [style.left]="posX + 'px'"
            [style.transform]="'rotate('+ rotation +'deg)'" [style.clip-path]="poligon" [style.height]="height + 'px'"
            [style.width]="width + 'px'"></div>
        <hr>
        <div class="center">
            <h3 class="text-white">Transformamos tus ideas o problemas en soluciones tecnológicas</h3>
            <h4>Sin Wordpress!</h4>
            <mat-chip-list aria-label="Dog selection" class="chips">
                <mat-chip>
                    📄
                    Landing Pages
                </mat-chip>
                <mat-chip>
                    🌐
                    Páginas Web
                </mat-chip>
                <mat-chip>
                    🚀
                    Aplicaciones Web
                </mat-chip>
            </mat-chip-list>

            
        </div>
        <hr>
    </div>
</section>

<section id="imagen">

</section>