#header {
    width: 100%;
    height: 30rem;
    background-image: url(../../../assets/img/DSC_0171.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    position: relative;
}

#header:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    /* background-image: linear-gradient(to bottom, #36393f00, #36393F 95%); */
    width: 100%;
    height: 1em;
  }

h1.intro, h3.intro {
    color: white;
    
}

h1.intro {
    text-transform: uppercase;
    font-size: 70px;
}


.introduction {
    padding-top: 11rem;
}

.right {
    text-align: center;
}

