div.center {
    text-align: center;
}

h2 {
    color: white;
}

.btn-trabajos {
    width: 100%;
    color: white;
    background-color: #5700c9;
    border-radius: 10px;
    padding: 2rem 30px;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-trabajos:hover {
    font-weight: 400;
    background-color: #6500e9;
}

#trabajos {
    clip-path: polygon(0 8%, 100% 0%, 100% 91%, 0% 100%);
    background-color: #212529;
    min-height: 30rem;
    margin-top: -70px;
}

div.content {
    padding: 150px;
}