<section id="trabajos">
    <div class="container">
        <div class="content">
            <div class="center">
                <h2>Mis Trabajos</h2>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-4">
                        <a href="https://funeralescubillosvina.cl" class="btn-trabajos btn btn-block ok" >Funerales Cubillos Viña</a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-4">
                        <a class="btn-trabajos btn btn-block no">Prorums (private)</a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-4">
                        <a class="btn-trabajos btn btn-block no">CreativePrices (private)</a>
                    </div>
                </div>
            </div>
        </div>
<br>
    </div>
</section>
