<section id="trabajos">
    <div class="container">
        <div class="content">
            <div class="center">
                <h2>Mis Trabajos</h2>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-4">
                        <a href="" class="btn-trabajos btn btn-block">EzPeasy</a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-4">
                        <a href="" class="btn-trabajos btn btn-block">BookPlace</a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-4">
                        <a href="" class="btn-trabajos btn btn-block">CreativePrices</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>