<footer class="bg-dark text-center text-lg-center">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-6 mb-md-0">
          <h5 class="text-uppercase text-white">Contáctame</h5>
  
          <form>
            <div class="mb-3">
                <input  type="email" 
                        class="form-control" 
                        id="userMail" 
                        aria-describedby="userMail"
                        placeholder="Correo *"
                >
                <div id="userMail" class="form-text">Tu correo nunca será revelado a nadie.</div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="telefono">+56 </span>
                <input type="text" class="form-control" placeholder="9 7856 9972" aria-label="telefono" aria-describedby="telefono">
              </div>
            <div class="mb-3">
                <textarea class="form-control" id="mensaje" rows="3" placeholder="Mensaje"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-3 text-white">Links</h5>
  
          <ul class="list-unstyled">
            <li class="mb-4">
              <a href="#!" class="text-white">Whatsapp</a>
            </li>
            <li class="mb-4">
              <a href="#!" class="text-white">Instagram</a>
            </li>
            <li class="mb-4">
              <a href="#!" class="text-white">Facebook</a>
            </li>
            <li class="mb-4">
              <a href="#!" class="text-white">LinkedIn</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022:
      <a class="text-white" href="https://instagram.com/pabvlov">pabvlov.cl</a> - Pablo Prieto
    </div>
    <!-- Copyright -->
  </footer>